/* body */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* nav */

#landing {
    box-sizing: border-box;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

nav {
  width: 100%;
  max-width: 1200px;
  padding-top: 32px;
  display: flex;
}

.nav__row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__logo {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    margin: 8px 0px;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 16px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    padding: 16px 16px;
    color: #242424;
    margin: 0 16px;
}

.nav__link--primary {
    color: rgb(255, 255, 255);
    line-height: 1.5;
    width: auto;
    margin: 2px 0px 0px;
    padding: 10px 32px;
    border-radius: 9999px;
    background: rgb(100, 21, 255);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.btn__menu {
    
}





